@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    <a href ="https://www.techno-media.net6.or.jp/newmedia/human/1474">Connect 2018 in Koriyama, with UDC </a>
    </br>
    チームあかり！！
</p>
